// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$btn-blue: #4472CA;
$btn-border: #4472CA;
$white: white;

$btn-hover-blue: #0A369D;
$btn-hover-border: #0A369D;
