<h3 class="text-white bg-dark shadow p-2 mb-3 rounded text-center">My Topics</h3>

  <div class="button-container d-flex flex-column justify-content-center">
    <%= link_to 'Back', root_path, class: "btn bg-white text-dark" %>
  </div>

<div class="container" data-controller="off-canvas">
  <div class="cards">
    <% @favorite_topics.each do |favorite_topic| %>
      <%= render 'shared/topic_card', favorite_topic: favorite_topic %>
    <% end %>
  </div>
  <%= render 'shared/off_canvas' %>
</div>
