<h3 class="text-white bg-dark shadow p-2 mb-3 rounded text-center">My Topics</h3>

<div data-controller="off-canvas">
  <div class="button-container d-flex flex-column justify-content-center">
    <%#= link_to 'Back', root_path, class: "btn bg-white text-dark" %>
    <button class="btn bg-white text-dark" data-action="click->off-canvas#search">Search Topic</button>
  </div>

  <div class="container">
    <div class="cards">
      <% @favorite_topics.each do |favorite_topic| %>
        <%= render 'shared/topic_card', favorite_topic: favorite_topic %>
      <% end %>
    </div>
    <%= render 'shared/off_canvas' %>
    <%= render 'shared/search_canvas', topics: @topics %>
  </div>
</div>
