<h1 class="topic-card-heading margin-top-30 text-center">My Topics</h1>
<%# <div class="blue-line"></div> %>
<p class="topic-card-subheading text-center">Favorite Topics you follow</p>
<div class="button-container d-flex flex-column justify-content-center">
  <%= link_to 'Back', root_path, class: "btn bg-white text-dark" %>
</div>

<div class="container" data-controller="off-canvas">
  <div class="cards">
    <% @favorite_topics.each do |favorite_topic| %>
      <%= render 'shared/topic_card', favorite_topic: favorite_topic %>
    <% end %>
  </div>
  <%= render 'shared/off_canvas' %>
</div>
