<div class="container">
  <h1>Favorite Topics</h1>

  <% @favorite_topics.each do |favorite_topic| %>
    <p>
      <i class="fas fa-star"></i>
      <%= favorite_topic.topic.title %>
      <%= link_to 'Delete', favorite_topic_path(favorite_topic), method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
  <%= render 'shared/accordion', favorite_topics: @favorite_topics %>
</div>
