<div class="container">
  <h2 class="text-white bg-dark shadow p-2 mb-5 rounded">Favorite Topics</h2>
  <%= render 'shared/accordion', favorite_topics: @favorite_topics, topics_tweets: @favorite_topics_tweets %>
</div>
