<div class="container">

  <h1 class="text-white bg-dark shadow p-2 mt-3 mb-3 rounded text-center">Searched topic: <%= @topic.title %></h1>
    <div class="cards">
      <% @tweets_data.each do |tweet| %>
        <%= render 'shared/tweet_card', username: tweet['user']['username'],
                                        text: tweet['text'],
                                        tweet_id: tweet['id'],
                                        followers: tweet['user']['public_metrics']['followers_count'],
                                        tweet_url: tweet['tweet_url'],
                                        image_url: nil,
                                        article_url: nil %>
      <% end %>
    </div>

  <div class="button-container mt-2 mb-2">
    <button type="button" class="btn btn-primary btn-lg">
      <%= link_to 'Add to favorites topics', favorite_topics_path %>
    </button>
    <button type="button" class="btn btn-ghost btn-lg">
      <%= link_to 'Back', root_path %>
    </button>

  </div>
</div>
