
<div class="accordion mb-2" id="accordionExample">
  <div class="card">
    <div class="card-header white-bg" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <p class="accordion-title"><%= pluralize bookmarks.count, "Bookmark" %></p>
          <i class="fas fa-list icon-font"></i>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body bg-light">
        <div class="cards">
          <% bookmarks.each do |article| %>
            <%= render 'shared/tweet_bookmark.html.erb', tweet: article %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
