<div class="card w-100 my-1 shadow-sm" data-controller="chart">
  <div class="card-body chart" id="<%= coingecko_id %>" data-coingecko-id="<%= coingecko_id %>" data-chart-target="graph">
  </div>
</div>
