<div class="w-100 my-1 margin-top-50 box" data-controller="chart">
  <%= link_to "Delete", favorite_topic_path(favorite_topic), method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "delete-link" %>

  <div class="d-flex justify-content-between align-items-start">
    <div class="d-flex mt-2 ml-2">
      <button class="btn btn-outline-primary btn-sm mr-1" data-chart-target='button' data-action="click->chart#display" data-timeframe="365" data-change="1Y" data-index="0">1Y</button>
      <button class="btn btn-outline-primary btn-sm mr-1" data-chart-target='button' data-action="click->chart#display" data-timeframe="182" data-change="6M" data-index="1">6M</button>
      <button class="btn btn-outline-primary btn-sm mr-1" data-chart-target='button' data-action="click->chart#display" data-timeframe="90" data-change="3M" data-index="2">3M</button>
      <button class="btn btn-outline-primary btn-sm mr-1" data-chart-target='button' data-action="click->chart#display" data-timeframe="30" data-change="1M" data-index="3">1M</button>
      <button class="btn btn-outline-primary btn-sm mr-1" data-chart-target='button' data-action="click->chart#display" data-timeframe="7" data-change="7D" data-index="4">7D</button>
      <button class="btn btn-outline-primary btn-sm" data-chart-target='button' data-action="click->chart#display" data-timeframe="1" data-change="1D" data-index="5">1D</button>
    </div>
    <div class="mt-2 mr-2  chart-price topic-card-price">
      <p class="mb-0 text-left" data-chart-target='price'></p>
      <small data-chart-target='delta' class="text-right"></small>
    </div>
  </div>
  <div class="card-body chart" id="<%= coingecko_id %>" data-coingecko-id="<%= coingecko_id %>" data-chart-target="graph", data-bookmarks="<%= bookmarks.to_json %>">
  </div>

</div>

<div class="margin-top-50 margin-bottom-30 text-center ">
  <i class="fas fa-chevron-down cool-icon"></i>
</div>
