<div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright text-center">
        <img src="https://image.flaticon.com/icons/png/512/3486/3486416.png"> CryptoCanons &#169;
      </div>
</div>


<footer class="footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- Text widget-->
                                <aside class="widget widget-text">
                                    <div class="widget-title">
                                        <h6>About Us</h6>
                                    </div>
                                    <div class="textwidget">
                                        <p>Map where your photos were taken and discover local points of interest. Map where your photos.</p>
                                        <p>
                                            Location: 12 London Avenue, Suite 18<br>
                                            E-mail: support@theme.com<br>
                                            Phone: 8 800 123 4567<br>
                                        </p>
                                        <ul class="social-icons">
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-md-3">
                                <!-- Recent entries widget-->
                                <aside class="widget widget-recent-entries">
                                    <div class="widget-title">
                                        <h6>Recent Posts</h6>
                                    </div>
                                    <ul>
                                        <li><a href="#">Map where your photos were taken and discover local points.</a><span class="post-date">May 8, 2018</span></li>
                                        <li><a href="#">Map where your photos were taken and discover local points.</a><span class="post-date">April 7, 2018</span></li>
                                        <li><a href="#">Map where your photos were taken and discover local points.</a><span class="post-date">September 7, 2018</span></li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-md-3">
                                <!-- Twitter widget-->
                                <aside class="widget twitter-feed-widget">
                                    <div class="widget-title">
                                        <h6>Twitter Feed</h6>
                                    </div>
                                    <div class="twitter-feed" data-twitter="double_theme" data-number="1" id="twitter-0"><ul><li><div class="user">
    <a data-scribe="element:user_link" href="https://twitter.com/ProductHuntHi" aria-label="Product Hunt Hi (screen name: ProductHuntHi)" target="_blank"><img data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/662417488806711296/NucHBWWQ_bigger.png" alt="" data-src-1x="https://pbs.twimg.com/profile_images/662417488806711296/NucHBWWQ_normal.png" src="https://pbs.twimg.com/profile_images/662417488806711296/NucHBWWQ_bigger.png"></a>




<div data-scribe="component:author">
  <a data-scribe="element:user_link" href="https://twitter.com/ProductHuntHi" aria-label="Product Hunt Hi (screen name: ProductHuntHi)" target="_blank">
    <div>
      <span>
        <span title="Product Hunt Hi" data-scribe="element:name">Product Hunt Hi</span>

      </span>
      <span title="@ProductHuntHi" data-scribe="element:screen_name">@ProductHuntHi</span>
    </div>
  </a>
</div>

  </div><p class="tweet"><a href="https://twitter.com/double_theme" data-mentioned-user-id="250123871" data-scribe="element:mention" target="_blank"><span>@</span><span>double_theme</span></a> FYI, you've been added as a maker of Bright - Free Bootstrap 4 Template on <a href="https://twitter.com/ProductHunt" data-mentioned-user-id="2208027565" data-scribe="element:mention" target="_blank"><span>@</span><span>ProductHunt</span></a> <a href="https://t.co/3WYj7sMNzF" data-expanded-url="https://www.producthunt.com/posts/bright-free-bootstrap-4-template" target="_blank" title="https://www.producthunt.com/posts/bright-free-bootstrap-4-template" data-scribe="element:url"><span>https://www.</span>producthunt.com/posts/bright-f<span>ree-bootstrap-4-template&nbsp;</span>…</a>
  </p><p class="timePosted">Posted on Apr 24, 2019</p><p class="interact"><a href="https://twitter.com/intent/tweet?in_reply_to=1127603804499795970" class="twitter_reply_icon" target="_blank" rel="noopener">Reply</a><a href="https://twitter.com/intent/retweet?tweet_id=1127603804499795970" class="twitter_retweet_icon" target="_blank" rel="noopener">Retweet</a><a href="https://twitter.com/intent/favorite?tweet_id=1127603804499795970" class="twitter_fav_icon" target="_blank" rel="noopener">Favorite</a></p></li></ul></div>
                                </aside>
                            </div>
                            <div class="col-md-3">
                                <!-- Recent works-->
                                <aside class="widget widget-recent-works">
                                    <div class="widget-title">
                                        <h6>Portfolio</h6>
                                    </div>
                                    <ul>
                                        <li><a href="#"><img src="assets/images/widgets/1.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/widgets/2.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/widgets/3.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/widgets/7.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/widgets/8.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/widgets/6.jpg" alt=""></a></li>
                                    </ul>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>© 2021 <img src="https://image.flaticon.com/icons/png/512/3486/3486416.png"> CryptoCanons, All Rights Reserved. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
