<div class="off-canvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" data-off-canvas-target="search">
  <div class="offcanvas-header">
    <div class="d-flex justify-content-between">
      <h5 class="offcanvas-title">Search Topic</h5>
      <i class="far fa-times-circle" data-action="click->off-canvas#hide"></i>
    </div>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
      <%= render 'shared/select_topic_form' %>
    </div>
  </div>
</div>
