
<%= simple_form_for :search, method: :get do |f| %>
  <div class="d-flex">
    <%= f.input :topic , collection: @topics, label: false, multiple: 'multiple' %>
    <%= f.button :submit, 'Search', class: 'search-button' %>
  </div>
<% end %>
