
<%= simple_form_for :search, method: :get do |f| %>
  <div class="d-flex">
    <%= f.input :name , collection: @topics, label: false, placeholder: 'Search' %>
    <%= f.button :submit, 'Search', class: 'search-button' %>
  </div>
<% end %>
