
<%= simple_form_for :search, method: :get do |f| %>
  <div class="d-flex">
    <%= f.input :topic , collection: Topic.all, label: false, include_blank: false %>
    <%= f.button :submit, 'Search', class: 'search-button' %>
  </div>
<% end %>
