<div class="card w-100 my-1 shadow-sm">
  <div class="card-body" >
    <%= image_tag(favorite_topic.topic.icon_url) %>
    <strong><%= favorite_topic.topic.title.capitalize %></strong>
    <% if favorite_topic.topic.cashtag %>
      <%= favorite_topic.topic.cashtag %>
    <% end %>

    <% if favorite_topic.topic.coingecko_id %>
      <br>
      <br>
      <div>
        <span class="price text-secondary" data-coingecko-id="<%= favorite_topic.topic.coingecko_id %>"></span>
        <small class=""></small>
      </div>
    <% end %>
</div>
</div>
