<div class="container">
  <h1>Cryptocanons</h1>

  <%= simple_form_for :search, method: :get do |f| %>
    <%= f.input :topic_id , collection: @topics %>
    <%= f.button :submit %>
  <% end %>

  <ul class="d-flex justify-content-around list-unstyled">
    <% @topics.each do |topic| %>
      <li><%= link_to topic.title.capitalize, topic_path(topic.id) %></li>
    <% end %>
  </ul>
</div>
