<div class="container">
  <h1>Cryptocanons</h1>

  <p><%= link_to 'Bitcoin', 'topics/5' %></p>
  <p><%= link_to 'Ethereum', 'topics/6' %></p>
  <p><%= link_to 'NFTs', 'topics/7' %></p>
  <p><%= link_to 'DeFi', 'topics/8' %></p>
</div>
