<div class="container">
  <h1>Cryptocanons</h1>

  <%= render 'shared/search-form' %>

  <ul class="d-flex justify-content-around list-unstyled">
    <% @topics.each do |topic| %>
    <li><%= link_to topic.title.capitalize, topic_path(topic.id) %></li>
    <% end %>
  </ul>

  <%#= render 'shared/article-card' %>

</div>
