<div class="margin-top-50">
  <%= image_tag 'main.svg' %>
  <div class="container">
    <h1 class="margin-top-50 main-h1">Find all of your crypto news in one place</h1>
    <p class="main-p">CryptoCanons is your best source of everything crypto</p>
    <div class="margin-top-30">
      <%= render 'shared/select_topic_form' %>
    </div>
  </div>
</div>

<div class="container margin-top-120 secondary">
  <h1>Discover the latest crypto news right from your phone</h1>
  <p>The most up-to-date news directly from Twitter including the current price and charts</p>
  <%= image_tag 'phone.jpg', class: 'phone' %>
</div>
