<div class="container">
  <h1>Cryptocanons</h1>

  <%= render 'shared/select_topic_form' %>

  <ul class="d-flex justify-content-around list-unstyled">
    <% @topics.each do |topic| %>
      <li><%= link_to topic.title.capitalize, topic_path(topic.id) %></li>
    <% end %>
  </ul>

  <div class="cards">
    <%= render 'shared/article_card' %>
  </div>

</div>
