<div class="container">
  <h1 class="text-center">Bookmarks</h1>

  <div class="cards">
    <% @bookmarked_articles.each do |article| %>
      <%= render 'shared/tweet_bookmark', tweet: article %>
    <% end %>
  </div>
</div>
