.btn-primary {
  background-color: #0052ff !important;
  border-color: #0052ff !important;
  border-radius: 5px;
  font-weight: lighter;
  color: white !important;
}

.btn-primary:hover {
  background-color: #0a369d !important;
  border-color: #0a369d !important;
}

.btn-secondary {
  background-color: #5b616e !important;
  border-color: #5b616e !important;
}

.btn-ghost {
  color: #0032eb !important;
  border: 1px solid #0032eb !important;
  border-radius: 5px;
  padding: 8px 24px;
  font-weight: 500;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-ghost-del {
  color: #e7001f !important;
  border: 1px solid $light-gray !important;
  border-radius: 5px;
  padding: 8px 24px;
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost-del:hover {
  opacity: 1;
}

.btn-topic-del {
  color: #e7001f !important;
  border: 1px solid #e7001f !important;
  border-radius: 5px;
  padding: 4px 18px;
  font-weight: 400;
  opacity: 1;
  width: 25vw;
  padding-left: 8px;
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #a3a5a4;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #606160;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167ffb, #0f60c4);
  transition: background 0.3s ease;
  border: 1px solid #0f60c4;
}

.btn-gradient:hover {
  background: linear-gradient(#147eff, #0f67da);
  color: white;
}

.button-container {
  // display: flex;
  // justify-content: space-between;
  position: fixed;
  bottom: -1px;
  background-color: white;
  width: 100%;
  // border: 1px solid white;
  opacity: 1 !important;
  z-index: 1000;
  margin: 0;
  // padding: 20px;
  padding: 28px 20px 48px 20px;
  // box-shadow: 0px 12px 20px black;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -20px 30px -32px #5b616e;
  border: 1px solid #5b616e;
}

.delete-link {
  position: absolute;
  bottom: -35px;
  left: -20px;
  margin-top: 40px;
  color: red;
  font-size: 16px;
  border: 1px solid red;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 20px;
}

.topic-button {
  background: $blue;
  color: white;
  height: 38px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

.search-topic-button {
  background: #dedfe2;
}
