.btn-primary {
  background-color: #0052FF !important;
  border-color: #0052FF !important;
  border-radius: 5px;
  font-weight: lighter;
  color:white !important;
}

.btn-primary:hover {
  background-color: #0A369D !important;
  border-color: #0A369D !important;
}

.btn-secondary {
  background-color: #5B616E !important;
  border-color: #5B616E !important;
}


.btn-ghost {
  color: #0032EB !important;
  border: 1px solid #0032EB !important;
  border-radius: 5px;
  padding: 8px 24px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #a3a5a4;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #606160;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.button-container {
  // display: flex;
  // justify-content: space-between;
  position: fixed;
  bottom: -1px;
  background-color:$blue;
  width: 100%;
  // border: 1px solid white;
  opacity: 1 !important;
  z-index: 1000;
  margin: 0;
  // padding: 20px;
  padding: 24px 20px 22px 20px;
  // box-shadow: 0px 12px 20px black;
  border-radius: 20px 20px 0 0;
}
