.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  padding-bottom: 15vh;
}

// .card {
//   overflow: hidden;
// }

.card-body {
  // justify-content: space-between;
  // align-items: center;
  // margin-bottom: 1rem;
}

.card-body p {
  font-size: 16px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 0px;
}

.card-body small {
  font-size: 12px;
}

.card i {
  font-size: 12px;
}
.card a {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;

  p {
    margin-bottom: 0;
    padding-left: 4px;
    font-size: 12px;
  }
}

.card .btn-ghost {
  border-bottom-left-radius: 4px !important;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.review-card {
  box-shadow: 0px 0px 12px gray;
  padding: 30px;
  border-radius: 4px;
}

.title-review {
  margin-left: auto;
  margin-right: auto;
}
