.footer {
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0px 15px;
  color: rgba(0, 0, 0, 0.3);
  // flex-wrap: wrap;
  font-size: 0.8rem;
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  // font-size: 1rem;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: $light-gray;
}

.footer-copyright img {
  width: 20px;
}

@media screen and ( max-width:749px ){

.footer {
    height: auto;padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
