.navbar-lewagon {
  justify-content: space-between;
  transition: 0.5s background-color ease;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  color: #0052ff;
  font: $headers-font;
  font-weight: 500;
  font-size: 22px;
}

.bottom-line-navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
