.topic-heading {
  font-size: 34px;
  font-weight: 500;
  margin-top: 30px;
}

.topic-p {
  font-size: 14px;
  font-weight: 400;
  color: #5b616e;
}

.topic-price {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
}

.current-price {
  position: fixed;
  top: 0;
}

.price-card {
  border: 1px solid #0052ff4d;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 15px -8px #5b616e;
  p {
    margin: 0;
  }
}
