.topic-heading {
  font-size: 34px;
  font-weight: 500;
  margin-top: 30px;
}

.topic-p {
  font-size: 14px;
  font-weight: 400;
  color: #5b616e;
}

.topic-price {
  margin-top: 15px;
  margin-bottom: 0;
}
