// .tweet-card {
//   margin-bottom: 30px;
// }

.followers {
  font-size: 15px !important;
  font-weight: 400 !important;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.bookmark-button {
  color: #5b616e;
  border: 1px solid #5b616e33;
  height: 50px;
  background: white;
  width: 100%;
}

.button-border {
  border: 1px solid #5b616e33;
}

.space-bottom {
  padding-bottom: 20vh;
}

.tweet-button {
  background: $blue;
  color: white;
  border-radius: 0px 0px 4px 0px;
  font-size: 16px;
  height: 50px;
  width: 50%;
}

.bookmarked-button {
  color: #5b616e;
  height: 50px;
  border-top: 1px solid #5b616e33;
  border-radius: 0px 0px 0px 4px;
  font-size: 16px !important;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.tweet-button-position {
  position: absolute;
  right: 0;
  bottom: 0;
}

.form {
  form {
    width: 50%;
  }
}

.fresh-tag {
  background: white;
  padding: 2px 7px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  display: inline;
  border: 1px solid $blue;
  color: $blue;
}
